@inherits umbraco.MacroEngines.DynamicNodeContext
@*
    === Macro Parameters To Create ===
    Alias:nodeId Name:Node ID    Type:Content Picker
*@

@{
    var startNodeID = 1069;
}
@if (startNodeID != null)
{
    @* Get the start node as a dynamic node *@
    var startNode = Model.NodeById(startNodeID);

    if (startNode.Children.Where("Visible").Any())
    {
        @*var i = 1;// Max Slides*@
        foreach (var item in startNode.Children.Where("Visible"))
        {
            var imgSrc = Library.MediaById(item.Image);
            bool internalLinkBool = (@item.internalLink.Length > 0);
            <article class="slide" style="background: url('@imgSrc.Url') repeat-x top center;">
            </article>
            @*<div class="item @(i==1 ? "active" : null)">
                    <img src="@imgSrc.Url" alt="slide @i">
                    <div class="caption">
                        <h1>@item.captionTitle</h1>
                        <p>@item.captionText</p>
                    </div>
                </div>*@

            //i++;
            //if (i > @startNode.maxSize) { break; }

        }

        @*<ol class="carousel-indicators">
                @{i = 0;}
                @foreach (var item in startNode.Children.Where("Visible"))
                {
                    <li data-target="#slider" data-slide-to="@i"></li>
                    i++;
                }


            </ol>*@
    }

}
