@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    var startNodeID = 1092;
}
@if (startNodeID != null)
{
    @* Get the start node as a dynamic node *@
    var startNode = Model.NodeById(startNodeID);
    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>@startNode.Name</h3>
            </div>
            <div class="row feature">

                @if (startNode.Children.Where("Visible").Any())
                {
                    var i = 1;

                    foreach (var item in startNode.Children.Where("Visible"))
                    {
                        var imgSrc = Library.MediaById(item.Image);

                        <div class="span6 @(i == 1 ? "first": "") ss">
                            <img src="@imgSrc.Url" alt="@item.Name" />
                        </div>
                        <div class="span6 info">
                            <h3>
                                @item.Name
                            </h3>
                                @Library.Truncate(@item.summary,300)
                        </div>
                        i++;
                    }
                }
            </div>
        </div>
    </div>

}
