@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    var root = Library.MediaById(Parameter.mediaTopFolder);
    var query = Request.QueryString["Id"];
    var node = Library.MediaById(@query);
}

@if (@node.NodeTypeAlias != "Folder")
{
    foreach (var item in root.Children)
    {
        <a href="/@Model.NiceUrl.Replace("/", "")?Id=@item.Id" target="_self" title="@item.name" class="gallery-category">
            <img src="@item.Children.First().Url" alt="@item.name" />
            <h3><span class="highlighted">@item.name</span></h3>
            @if (@item.bodyText.ToString().Length < 5)
            {
                <p>H.O.G.<sup>®</sup> @item.name ... <span class="highlighted">more</span></p>
            }
            else
            {
                <p>@Library.Truncate(@item.bodyText, 100)<span class="highlighted"> more</span></p>
            }


        </a>
    }
}
else
{

    <p class="description">@Html.Raw(@node.bodyText.Replace("®", "<sup>®</sup>"))</p>
    <section id="dg-container" class="dg-container">
        <div class="dg-wrapper">
            @foreach (var item in node.Children)
            {
                <a href="" title="@node.name @item.name">
                    <img src="@item.Url" alt="@node.name @item.name" />
                </a>
            }
        </div>
        <nav>
            <span class="dg-prev">&lt;</span>
            <span class="dg-next">&gt;</span>
        </nav>
    </section>


}